<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#8ad201" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        <img src="http://i.imgur.com/PDIiNBO.png" alt="Xportal" width="470" height="200" style="display: block;" />
                    </td>
                </tr>

                <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                <b>Welcome to the Xportal Portal!</b>
                            </td>
                        </tr>



                        <tr>
                            <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                Congratulations, you now have an account in Xportal's customer portal.
                                <br>
                                <br>

                                <a href="{{homeLink}}register?registration_number={{registration_number}}">Start by Registering here</a>
                                <br>
                                <br>Here’s what you get:

                                <ul>
                                    <li style="margin-left:15px">
                                        <font face="arial, sans-serif">See the full list of requests sent to Xportal.</font>
                                    </li>
                                    <li style="margin-left:15px">
                                        <font face="arial, sans-serif">Conduct research by filtering the requests according to various parameters.&nbsp;</font>
                                    </li>
                                    <li style="margin-left:15px">
                                        <font face="arial, sans-serif">Dive into a specific request and see it in detail.</font>
                                    </li>
                                </ul>
                                <div>
                                    <font face="arial, sans-serif">Welcome aboard!</font>
                                </div>
                                <div>
                                    <font face="arial, sans-serif">
                                        <br>
                                    </font>
                                </div>
                                <div>
                                    <font face="arial, sans-serif">Best,</font>
                                </div>
                                <div>
                                    <font face="arial, sans-serif">The Xportal Team</font>
                                </div>




                            </td>
                        </tr>


                        <tr>
                            <td bgcolor="#8ad201" style="padding: 30px 30px 30px 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                            © Xportal, 2020<br/>
                                        </td>
                                        <td align="right" width="25%">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
            </table>
</body>
</html>